<div class=" w-full h-full flex items-center justify-center bg-primary-grey">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="w-1/4 register p-4 flex flex-col items-center justify-center h-auto bg-white rounded-xl">
    <p class="text-4xl mb-10 font-bold">Portal de monitoreo</p>

    <div class="mb-4 w-full">
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Correo electronico"
      class="mt-1 block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-green"
      />
    </div>

    <div class="mb-4 w-full">
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Nombre de usuario"
      class="mt-1 block w-full p-2 border  rounded-lg shadow-sm focus:outline-none focus:outline-none focus:ring-2 focus:ring-primary-green"
      />
    </div>

    <div class="mb-4 w-full">
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Contraseña"
      class="mt-1 block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-green"
      />
    </div>

    <div class="flex items-center justify-between">
      <button type="submit" [disabled]="registerForm.invalid" class="bg-primary-green text-white ml-4 p-4 px-12 focus:outline-none focus:ring-2 focus:ring-primary-green">
        Registrarse
      </button>
    </div>
    <div class="mt-4">
      <p class="mt-4 text-sm">Protegido con reCAPTCHA y sujeto a la política de privacidad y condiciones</p>
      <p class="text-sm mt-4">¿Ya dispones de una cuenta? <a routerLink="/login" class="text-primary-green hover:primary-green mx-1">Haz clic aquí</a>para iniciar sesion</p>
    </div>
    <div *ngIf="errorMessage" class="bg-red-600 text-white text-center mt-5">
      {{ errorMessage }}
    </div>
  </form>
</div>
