<div class="flex h-screen items-center">
    <div class="left-section flex items-center justify-center hidden md:flex ">
      <div class="flex flex-col ">
        <div class="flex flex-col ">
            <p class="text-6xl">Iniciar sesión</p>
            <p class=" mt-5 max-w-xl break-words">
              Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión
              y continúa aprovechando al máximo nuestra plataforma.
          </p>
        </div>
            <div class="text-center items-center justify-center">
              <div class="flex mt-4 items-center">
                    <img src="assets/icons/integral.svg">
                    <p class="mx-4">Monitoreo integral</p>
                </div>
                <p class="">Administra, monitorea multiples plantas de manera centralizada</p>
                <div class="flex mt-4 items-center">
                    <img src="assets/icons/estrella.svg">
                    <p class="mx-4">Notificaciones en tiempo real</p>
                </div>
                <p>Recibi notificaciones en tiempo real sobre las mediciones</p>
            </div>
      </div>
    </div>

    <div class="section-right w-1/2 flex items-center justify-center bg-white max-h-auto max-w-auto">
      <form (ngSubmit)="onLogin()" class=" w-full max-w-lg">
        <p class="text-4xl font-bold">Portal de monitoreo</p>

        <p class="text-2xl my-4">Inicia sesion</p>

        <div class="my-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            class="mt-1 block w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>
        <div class="relative my-4">
          <input
            [type]="passwordVisible ? 'text' : 'password'" 
            id="password"
            name="password"
            [(ngModel)]="password"
            class="block w-full p-4 pr-12 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
            placeholder="Contraseña"
            required
          />
          <span
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
          >
            <i
              class="bi text-gray-500"
              [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"
            ></i>
          </span>
        </div>
        <div class ="flex items-center justify-between mt-4">
        <p>¿Olvidaste tu contraseña?</p>
            <button
            type="submit"
            class="bg-primary-green text-white ml-4 p-4 px-12 rounded-lg hover:bg-blue-700 transition"
            >
            Iniciar Sesión
            </button>
        </div>
        <p class="mt-4 text-sm text-primary-grey">Protegido con reCAPTCHA y sujeto a la <a class="text-primary-green">politica de privacidad</a> y <a class="text-primary-green">condiciones</a></p>
        <div class="mt-8">
          <p class="text-sm">¿No tienes una cuenta? <a routerLink="/register" class="text-blue-500 hover:text-blue-700">Haz clic aquí para registrarte</a></p>
        </div>
        <div *ngIf="errorMessage" class="bg-red-600 text-white text-center mt-5">
          {{ errorMessage }}
        </div>
      </form>


    </div>
  </div>
