<div class="flex h-screen w-screen">
    <app-sidebar class="w-16 h-full"></app-sidebar>
    <div class="flex-1 flex flex-col bg-primary-grey p-20 overflow-y-auto">
        <div class="flex justify-between titulo-responsive">
            <p class="text-4xl mb-4 font-bold">Monitoreo global</p>
            <div class="flex flex-row mb-4">
                <img src="../../../assets/icons/Idioma.svg" alt="idioma" class="w-8 h-8 mx-2">
                <img src="../../../assets/icons/Ajustes.svg" alt="Ajustes" class="w-8 h-8 mx-2">
                <img src="../../../assets/icons/notification.svg" alt="Notificaciones" class="w-8 h-8 mx-2">
                <p class="font-bold text-xl">{{ userName }}</p>
            </div>
        </div>

        <div class="mb-8 h-auto cards-responsive">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
                <div *ngFor="let card of cards" class="card bg-white h-36 flex p-4 rounded-xl shadow-md justify-between items-center">
                    <div>
                        <p class="font-semibold text-lg text-primary-grey">{{ card.title }}</p>
                        <p class="text-4xl font-bold">{{ card.count }}</p>
                    </div>
                    <img *ngIf="card.icon" [src]="card.icon" alt="Card Icon" class="w-28 h-28">
                </div>
            </div>
        </div>

        <div class="my-5">
            <app-table></app-table>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4  gap-8  my-8 cards-responsive">
            <div *ngFor="let card of cardsDown" class="bg-white p-4 h-32 rounded-xl flex flex-col items-center ">
            <div class="flex justify-between items-center w-full">
                <div>
                    <div class="justify-between items-center w-full mt-auto">
                        <div class="flex flex-col items-start">
                        <h3 class="text-lg text-primary-grey font-semibold">{{ card.title }}</h3>
                        </div>
                    </div>
                    <div class = "flex mt-2">
                        <div class="flex items-center mx-2">
                            <img src ="../../../assets/icons/ok.svg" alt="Lectura OK" class="w-6 h-6 mr-2" height="60"
                                 width="60">
                            <span>{{ card.readins }} </span>
                        </div>
                        <div class="flex items-center mx-2">
                            <img src="../../../assets/icons/amarilla.svg" alt="Alerta Amarilla" class="w-6 h-6 mr-2"
                                 height="64" width="64">
                            <span>{{ card.yellowAlerts }} </span>
                        </div>
                        <div class="flex items-center mx-2">
                            <img src="../../../assets/icons/roja.svg" alt="Alerta Roja" class="w-6 h-6 mr-2" height="64"
                                 width="64">
                            <span>{{ card.redAlerts }} </span>
                        </div>
                    </div>
                    </div>
                    <div>
                        <img  [src] ="card.icon" alt="{{ card.title }}" class="w-24 h-24 mx-4">
                    </div>
                </div>
            </div>
        
        </div>

