<div class="h-lvh">
     <button 
       (click)="toggleSidebar()" 
       class="sm:hidden p-2 bg-gray-300 rounded">
       <img src="../../../assets/icons/3-lineas.svg" alt="Menu" class="w-6 h-6">
     </button>
   
     <div
       [ngClass]="{ 'translate-x-0': isSidebarOpen, '-translate-x-full': !isSidebarOpen }"
       class="w-16 h-screen bg-white flex flex-col items-center transform transition-transform duration-300 sm:translate-x-0 sm:relative z-50">
       <img src="../../../assets/icons/Logo.svg" alt="Logo" class="w-8 h-8 my-6 cursor-pointer">
       <div class="mt-16">
         <img src="../../../assets/icons/Dashboard.svg" alt="DashBoard" class="w-6 h-6 my-8 cursor-pointer">
         <img src="../../../assets/icons/Monitoreo-planta.svg" alt="Plantas" class="w-6 h-6 my-8 cursor-pointer">
         <img src="../../../assets/icons/Historico-sensores.svg" alt="Historico de Sensores" class="w-6 h-6 my-8 cursor-pointer">
         <img src="../../../assets/icons/Historico-de-plantas.svg" alt="Historico de plantas" class="w-6 h-6 my-8 cursor-pointer">
         <img src="../../../assets/icons/Cerrar-sesion.svg" alt="Cerrar sesión" class="w-6 h-6 my-8 cursor-pointer" (click)="logOut()">
       </div>
     </div>
   </div>