<div class="w-16 h-full bg-white flex flex-col items-center">
         <img ngSrc="../../../assets/icons/Logo.svg" alt="Logo" class="w-8 h-8 my-6 cursor-pointer" height="33" width="36">
        <div class="mt-16">
            <img ngSrc="../../../assets/icons/Dashboard.svg" alt="DashBoard" class="w-6 h-6 my-8 cursor-pointer" height="20"
                 width="20">
            <img ngSrc="../../../assets/icons/Monitoreo-planta.svg" alt="Plantas" class="w-6 h-6 my-8 cursor-pointer" height="15"
                 width="24">
            <img ngSrc="../../../assets/icons/Historico-sensores.svg" alt="Historico de Sensores" class="w-6 h-6 my-8 cursor-pointer"
                 height="17" width="22">
            <img ngSrc="../../../assets/icons/Historico-de-plantas.svg" alt="Historico de plantas" class="w-6 h-6 my-8 cursor-pointer"
                 height="22" width="22">
            <img ngSrc="../../../assets/icons/Cerrar-sesion.svg" alt="Cerrar sesion" class="w-6 h-6 my-8 cursor-pointer"
                 height="19" width="18"
                 (click)="logOut()" >
        </div>
  </div>
