@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primary-grey: #B0CAD1;
    --primary-green:#33A3AA;
  }

  html {
    font-size: 16px;
}


  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  body {
    background:var(--primary-grey);
    font-family: 'Poppins', sans-serif;
  }


